
.parent{
    background-color: white;
}
.container1{
    background-color:aliceblue;
    background-size: cover;
    width: 100%;
    padding-top: 20px;
}
.h1{
    color:rgb(116, 179, 235);
    font-size: 4em;
    text-align: center;
    font-family: 'Rochester', cursive;
}
.p1{
    color:rgb(116, 179, 235) ;
    font-size: xx-large;
    text-align: center;
    font-family: 'Metrophobic', sans-serif;
}
.img1{
    margin-left: 75%;
}
.img2{
    margin-left: 20%;
}
.img3{
    margin-left: 35%;
}
.img4{
    margin-left: 43%;
    margin-top: 100px;
}
.h2{
    text-align: center;
    color:rgb(116, 179, 235);
    font-family: 'Rajdhani', sans-serif;
}
.p2{
    text-align: center;
}
hr{
    width: 50%;
    border: solid black;
}
.img5{
    margin-left: 320px;
}
h4{
    margin-left: 30px;
    color: rgb(88, 167, 236);
    
}
.p3{
    margin-left: 30px;
    padding-bottom: 80px;
}
.img6{
    margin-left: 100px;
}
.h5{
    margin-left:325px;
    color: rgb(88, 167, 236);
    font-weight:700;
}
.p4{
    padding-bottom: 80px;
    margin-left:325px;
}
.box{
    width:30%;
    transition: 1s ease-in-out;
    background-color: red;
}
.img111{
    width: 100%;
    height: 350px;
    background-color: gray;
    display:flex;
    justify-content: space-around;
    flex-direction: row;  
}
.box1{
    background-image: url("images/1.jpg");
    background-position: center;
    background-size: cover;
}
.box2{
    background-image: url("images/2.jpg");
    background-position: center;
    background-size: cover;
}
.box3{
    background-image: url("images/3.jpg");
    background-position: center;
    background-size: cover;
}
.box4{
    background-image: url("images/4.jpg");
    background-position: center;
    background-size: cover;
}
.box5{
    background-image: url("images/5.jpg");
    background-position: center;
    background-size: cover;
}
.box6{
    background-image: url("images/6.jpg");
    background-position: center;
    background-size: cover;
}
.box:hover{
    transform: scale(1.1);
    z-index: 1;
}
.h2{
    text-align: center;
    font-size: xx-large;
    color:rgb(116, 179, 235)
}
button{
    margin-left: 850px;
    font-size:large;
    color:white;
    background-color: rgb(116, 179, 235);
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-family: 'Rajdhani', sans-serif;
    
}
.footer{
    background-color:rgb(116, 179, 235); 
}
li{
    text-align: center;
    display: inline;
    color: rgb(58, 89, 117);
    padding-left: 45px;
}
button:hover{
    background-color: green;
    color: white;
}